.row-hed-1 {
  margin-right: -30px;
  margin-left: -30px;
}

.row-hed-2 {
  margin-right: -50px;
}

.backcolor {
  background-color: #808080;
}
.header {
  /*background-color: rgb(140, 178, 102);*/
  margin-bottom: 3px;
}

.header button {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
}


/*.header button {
      text-shadow: 5px 5px 5px #111;
    }*/
/*.header button :hover, :visited, :active {
      background-color: rgb(140, 178, 102);
    }*/

.header2 {
  background-color: rgb(105, 133, 76);
  text-align: center;
  padding-top: 10px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.header2 button {
  font-family: 'Roboto';
  font-size: 18px;
  /*font-weight: bold;*/
  color: white;
}

.shapca {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  
}


.sort {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search {
  display: inline-block;
  text-align: justify;
  vertical-align: top;
}

.image {
  border: 0px solid red;
}

.navigator {
  border: 0px solid red;
}

.shadow {
  /*box-shadow: 5px 5px 14px 1px #e5e5e5,
              2px 2px 3px 0px #000;*/
}

#nav-main {
  border: 3px solid #fff;
  font-weight: bold;
}

#mainlink {
  cursor: pointer;
  font-weight: bold;
}
