
.row-hed-1 {
  margin-top: 1px;
  margin-right: -30px;
  margin-left: -30px;
}

.row-hed-2 {
  margin-right: -50px;
}

.backcolor {
  background-color: #808080;
}
.header {
  margin-bottom: 3px;
}

.header button {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
}

.header2 {
  background-color: #e4d0c9;
  text-align: center;
  padding-top: 10px;
  margin-top: 3px;
  margin-bottom: 10px;
}

.header2 button {
  font-family: 'Roboto';
  font-size: 18px;
  color: #808080;
  font-weight: bold;
}

.shapca {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}


.sort {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search {
  display: inline-block;
  text-align: justify;
  vertical-align: top;
}

#nav-main {
  border: 3px solid #fff;
  font-weight: bold;
}

#mainlink {
  cursor: pointer;
  font-weight: bold;
}
