<div class="container-fluid">
  <div class="row navbar navbar-dark navbar-expand-lg header">
    <span class="navbar-brand d-lg-none button" id="mainlink">НA ГОЛОВНУ</span>

    <button class="navbar-toggler navbar-toggler-left" type="button"
            id="nav-main" (click)="isCollapsed1 = !isCollapsed1"
            [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseBasic1">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-nav" id="collapseBasic1" [collapse]="isCollapsed1">

      <div class="nav-item col-lg-3">
        <div class="nav-link d-lg-block button">ГОЛОВНА</div>
      </div>

      <div class="nav-item col-lg-2">
        <div class="nav-link button">КАТАЛОГ</div>
      </div>

      <div class="nav-item col-lg-3">
        <div class="nav-link button">ДОСТАВКА I ОПЛАТА</div>
      </div>

      <div class="nav-item col-xs-2 col-sm-2 col-md-3 col-lg-3">
        <div class="nav-link button"> КОНТАКТИ</div>
      </div>

      <div class="col-xs-1 col-sm-1 col-lg-1"></div>

    </div>
  </div> 
</div>

<div class="container-fluid">

    <div class="row row-hed-1">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="shapca">
          <img src="/assets/img/44.png" alt="shapca" />
        </div>
      </div>
    </div>

    <!--<div class="row navbar navbar-dark navbar-expand-lg header2">
      <div class="collapse navbar-collapse navbar-nav" id="collapseBasic1" [collapse]="isCollapsed1">

        <div class="nav-item col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <button class="nav-link" mat-button>У П Н</button>
        </div>
        <div class="nav-item col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <button class="nav-link" mat-button>У П Ю</button>
        </div>
        <div class="nav-item col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <button class="nav-link" mat-button>У С П</button>
        </div>
        <div class="nav-item col-xs-3 col-sm-3 col-md-3 col-lg-3">
          <button class="nav-link" mat-button>У П С</button>
        </div>

      </div>

    </div>-->
  </div>
