<div class="container-fluid">


  <div class="row">
    <div class="col-2">
      <mat-form-field class="search">
        <input type="text" matInput [(ngModel)]="searchStr" placeholder="Пошук за назвою..." />
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-2 col-sm-2 col-xs-9">
      <div class="sidebar">
        <span class="titleSidebar">Вибрати товар</span>
        <mat-divider></mat-divider>
        <div class="filtr">
          <span class="titleFilter">За статтю</span><br />
          <mat-checkbox [checked] ="myModel" color="primary">дівчата</mat-checkbox><br />
          <mat-checkbox [checked] ="myModel" color="primary">хлопці</mat-checkbox><br />
        </div>
        <div class="filtr">
          <span class="titleFilter">За уладом</span><br />
          <mat-checkbox [(ngModel)]="myModel" color="primary">упн</mat-checkbox><br />
          <mat-checkbox [(ngModel)]="myModel" color="primary">упю</mat-checkbox><br />
          <mat-checkbox [(ngModel)]="myModel" color="primary">усп</mat-checkbox><br />
          <mat-checkbox [(ngModel)]="myModel" color="primary">упс</mat-checkbox><br />
        </div>
        <div class="filtr">
          <span class="titleFilter">За типом</span><br />
          <mat-checkbox color="primary">проби</mat-checkbox><br />
          <mat-checkbox color="primary">вмілості</mat-checkbox><br />
          <mat-checkbox color="primary">діловодства</mat-checkbox><br />
          <mat-checkbox color="primary">загальне</mat-checkbox><br /><br />
        </div>
        <button mat-raised-button color="primary">Показати</button>
      </div>
      <div class="sidebar">
        Something
      </div>
    </div>
    <div class="col-10 col-sm-10 col-xs-3">
      <div id="wrapper">
        <mat-card *ngFor="let items of datasource | searchAwards: searchStr;">

          <mat-card-header>
            <mat-card-title class="title">{{items.Name.slice(0, 16)}}</mat-card-title>
          </mat-card-header>

          <!--<mat-card-subtitle>Подзаголовок товара</mat-card-subtitle>-->
          <mat-card-content>
            <span class="images"><img mat-card-image src="http://localhost:13764/Img/awards/{{items.Picture}}" alt="" /></span>
            <!--<span class="color">{{items.Ulad}}</span>&nbsp;-->
          </mat-card-content>

          <mat-card-actions>

            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-binoculars-fill icon" viewBox="0 0 16 16">
              6"
              <path d="M4.5 1A1.5 1.5 0 0 0 3 2.5V3h4v-.5A1.5 1.5 0 0 0 5.5 1h-1zM7 4v1h2V4h4v.882a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V13H9v-1.5a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5V13H1V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V4h4zM1 14v.5A1.5 1.5 0 0 0 2.5 16h3A1.5 1.5 0 0 0 7 14.5V14H1zm8 0v.5a1.5 1.5 0 0 0 1.5 1.5h3a1.5 1.5 0 0 0 1.5-1.5V14H9zm4-11H9v-.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5V3z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-info-circle-fill icon" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart-fill icon" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

  </div>
</div>
