.mat-card {
  width: 200px;
  height: 300px;
  margin: 10px 10px 10px 30px;
  display: inline-block;
  text-align: justify;
  vertical-align: top;
  box-shadow: 1px 1px 6px 1px #cec101;
  border-radius: 8px;
  color: #a49901;
}

.images {
  display: inline-block;
  width: 150px;
  height: 100px;
}

.title{
  display: block;
  font-family: 'Roboto';
  font-size: 14px;
  
}

.container-fluid {
  background-color: #fefacb;
}
.sidebar {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  max-width: 180px;
  min-width: 130px;
  box-shadow: 1px 1px 6px 1px #cec101;
  border-radius: 8px;
  background-color: #fff;
}
.titleSidebar {
  display: inline-block;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  color: #a49901;
  text-align: center;
  vertical-align: middle;
  padding-left: 5px;
}


.button {
  width: 60px;
  color: #a49901;
}
.mat-card-header {
  text-align: center;
  margin-bottom: 10px;
}
.mat-card-content {
  height: 150px;
  text-align: center;
  vertical-align: top;
}
.icon {
  display: inline-block;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 25px;
  padding: 4px;
  box-shadow: 1px 1px 6px 1px #cec101;
  border-radius: 4px;
}
.titleFilter {
  display: inline-block;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  color: #3f51B5;
}
.filtr {
  display: inline-block;
  font-family: 'Roboto';
  font-size: 14px;
  color: #a49901;
  margin: 10px 5px 10px 5px;
}
